# Aula 10 - Recomendação baseada em sessão - exemplos

In [2]:
import pandas as pd
import numpy as np

### Importar base de dados (executar somente se não tiver a base 2019-Oct-sample.csv. Caso contrário, pular para etapa de leitura desse arquivo).

In [3]:
# Fazer download no link: https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store?resource=download&select=2019-Oct.csv
# !tar -xvzf 2019-Oct.csv.zip

In [4]:
data = pd.read_csv('data/2019-Oct.csv')
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [5]:
# drop NaN values in specific columns
data = data.dropna(subset=["category_code", "brand", "user_session", "product_id"])

# keep only relevant columns in our dataset
data = data[["event_time", "event_type", "product_id", "category_code", "brand", "user_session"]]
data.head()

,event_time,event_type,product_id,category_code,brand,user_session
1,2019-10-01 00:00:00 UTC,view,3900821,appliances.environment.water_heater,aqua,9333dfbd-b87a-4708-9857-6336556b0fcc
3,2019-10-01 00:00:01 UTC,view,1307067,computers.notebook,lenovo,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,electronics.smartphone,apple,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05 UTC,view,1480613,computers.desktop,pulser,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
8,2019-10-01 00:00:10 UTC,view,28719074,apparel.shoes.keds,baden,ac1cd4e5-a3ce-4224-a2d7-ff660a105880

In [6]:
data.sort_values(by=['user_session', 'event_time'], inplace=True, ignore_index=True)
data.head()

,event_time,event_type,product_id,category_code,brand,user_session
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c

In [7]:
# select where to split the data
split_at = 2000000

#  make sure the split doesn't cut off session data
while data["user_session"].iloc[split_at-1] == data["user_session"].iloc[split_at]:
    split_at += 1
    
# perform the split
split_range = list(range(0, split_at))
subset = data.iloc[split_range]
subset.shape

(2000006, 6)

In [8]:
subset.to_csv('2019-Oct-sample.csv', index=False, header=['event_time', 'event_type', 'product_id', 'category_code', 'brand', 'user_session'], sep=',')

### Leitura do arquivo 2019-Oct-sample.csv

In [9]:
subset = pd.read_csv('./2019-Oct-sample.csv')
subset.head()

,event_time,event_type,product_id,category_code,brand,user_session
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c

In [10]:
map_items = {item: idx for idx, item in enumerate(subset.product_id.unique())}
map_sessions = {item: idx for idx, item in enumerate(subset.user_session.unique())}
subset['itemId'] = subset['product_id'].map(map_items)
subset['sessionId'] = subset['user_session'].map(map_sessions)
subset.head()

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,0,0
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,1,0
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,1,0
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c,2,0
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,3,0

In [11]:
n_items = subset['itemId'].max()+1
print('No. items: ', n_items)
n_sessions = subset['sessionId'].max()+1
print('No. sessions: ', n_sessions)

No. items:  42581
No. sessions:  483508

In [12]:
# create a dataset
# remove sessions with less than 2 items
def create_data(df):
    df.sort_values(by=['sessionId', 'event_time'], inplace=True, ignore_index=True)
    sessions, session = [], []
    for index, value in df.iterrows():
        if index != 0:
            if value["sessionId"] == df.at[index-1, "sessionId"]:
                if value["event_type"] == 'view':
                    session.append(value["itemId"])
            else:
                if len(session) > 1:
                    sessions.append((df.at[index-1, "sessionId"], session))
                session = [value["itemId"]]
        else:
            session.append(value["itemId"])
    return sessions

In [13]:
sessions = create_data(subset)

In [14]:
print('No. sessions: ', len(sessions))
print('Session 1:', sessions[1])
subset.loc[subset.sessionId==1]

No. sessions:  296914
Session 1: (np.int64(1), [6, 7, 8, 9, 10, 11, 12, 9, 13, 9, 0, 14, 1, 15, 16, 17])

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
7,2019-10-06 11:24:45 UTC,view,1004768,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,6,1
8,2019-10-06 11:25:54 UTC,view,1005098,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,7,1
9,2019-10-06 11:25:59 UTC,view,1005073,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,8,1
10,2019-10-06 11:26:39 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
11,2019-10-06 11:26:53 UTC,view,1004751,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,10,1
12,2019-10-06 11:27:05 UTC,view,1004653,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,11,1
13,2019-10-06 11:27:24 UTC,view,1005015,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,12,1
14,2019-10-06 11:28:05 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
15,2019-10-06 11:28:34 UTC,view,1003527,electronics.smartphone,xiaomi,00000083-8816-4d58-a9b8-f52f54186edc,13,1
16,2019-10-06 11:28:45 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
17,2019-10-06 11:29:11 UTC,view,1005115,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,0,1
18,2019-10-06 11:30:18 UTC,view,1004249,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,14,1
19,2019-10-06 11:30:25 UTC,view,1005105,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,1,1
20,2019-10-06 11:30:37 UTC,view,1005135,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,15,1
21,2019-10-06 11:30:41 UTC,view,1004246,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,16,1
22,2019-10-06 11:32:50 UTC,view,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1
23,2019-10-06 11:33:54 UTC,cart,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1
24,2019-10-06 11:34:30 UTC,purchase,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1

In [15]:
import random

random.shuffle(sessions)
split = len(sessions) * 0.8
train = sessions[:int(split)]
test = sessions[int(split):]
print('No. train sessions: ', len(train))
print('No. test sessions: ', len(test))

No. train sessions:  237531
No. test sessions:  59383

In [16]:
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [17]:
actual_session = test[3]
target = actual_session[1][0:-1]
print(actual_session)
print(target)
subset.loc[subset.sessionId==actual_session[0]]

(np.int64(18614), [4232, 4232, 4232])
[4232, 4232]

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
77453,2019-10-31 11:35:59 UTC,view,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77454,2019-10-31 11:37:12 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77455,2019-10-31 11:38:34 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77456,2019-10-31 11:40:54 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77457,2019-10-31 11:41:56 UTC,view,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77458,2019-10-31 11:42:44 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77459,2019-10-31 11:43:11 UTC,view,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77460,2019-10-31 11:43:48 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77461,2019-10-31 11:44:17 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77462,2019-10-31 11:45:00 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77463,2019-10-31 11:45:19 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77464,2019-10-31 11:48:12 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77465,2019-10-31 11:48:46 UTC,cart,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614
77466,2019-10-31 11:49:17 UTC,purchase,7002252,kids.carriage,wingoffly,00bec70b-2ca6-4fda-b824-04a73ce668f6,4232,18614

In [18]:
def compute_score(train, target, itemId):
    candidate_sessions = []
    for s in range(len(train)):
        if itemId in train[s][1]:
            candidate_sessions.append(train[s][1])
    
    score = 0
    for n in range(len(candidate_sessions)):
        score += jaccard(candidate_sessions[n], target)
    
    return score
    
compute_score(train=train, target=target, itemId=931)

0.0

In [19]:
categories = subset.loc[subset.sessionId==actual_session[0]]['category_code'].unique().tolist()
candidate_items = subset.loc[subset.category_code.isin(categories)]['itemId'].unique().tolist()
candidate_items

[121,
 140,
 141,
 328,
 331,
 554,
 578,
 757,
 905,
 1207,
 1355,
 1504,
 1773,
 2016,
 2690,
 2720,
 2786,
 2787,
 2788,
 2809,
 3037,
 3063,
 3146,
 3167,
 3249,
 3347,
 3348,
 3349,
 3350,
 3351,
 3352,
 3353,
 3452,
 4050,
 4139,
 4231,
 4232,
 4233,
 4234,
 4235,
 4290,
 4291,
 4292,
 4293,
 4327,
 4328,
 4329,
 4389,
 4438,
 4439,
 4440,
 4441,
 4510,
 4579,
 4633,
 4890,
 4891,
 4918,
 4919,
 4920,
 4921,
 4922,
 4924,
 4952,
 5170,
 5197,
 5356,
 5357,
 5395,
 5396,
 5397,
 5398,
 5402,
 5403,
 5404,
 5405,
 5406,
 5407,
 5429,
 5430,
 5555,
 5556,
 5557,
 5558,
 5704,
 5705,
 5706,
 5721,
 5722,
 5741,
 5742,
 5743,
 5744,
 5965,
 6091,
 6092,
 6255,
 6256,
 6331,
 6332,
 6441,
 6515,
 6516,
 6517,
 6707,
 6708,
 6951,
 6952,
 6953,
 6955,
 6956,
 7001,
 7019,
 7211,
 7212,
 7213,
 7302,
 7594,
 7595,
 7596,
 7668,
 7704,
 7705,
 7927,
 7928,
 8036,
 8061,
 8062,
 8063,
 8064,
 8065,
 8066,
 8067,
 8068,
 8069,
 8070,
 8076,
 8077,
 8211,
 8212,
 8213,
 8214,
 8215,
 8216,
 8217,
 8661,
 8737,
 9174,
 9175,
 9176,
 9177,
 9178,
 9179,
 9484,
 9517,
 9518,
 9519,
 9520,
 9521,
 9522,
 9578,
 9604,
 9605,
 9606,
 9691,
 9692,
 9824,
 9926,
 9927,
 9928,
 9929,
 9930,
 9931,
 10160,
 10376,
 10473,
 10572,
 10573,
 10574,
 10575,
 10576,
 10652,
 10662,
 10663,
 10664,
 10689,
 10797,
 10888,
 10974,
 10975,
 11008,
 11009,
 11080,
 11312,
 11378,
 11466,
 11558,
 11759,
 11760,
 11761,
 11818,
 11819,
 11859,
 11906,
 12094,
 12179,
 12370,
 12371,
 12372,
 12373,
 12426,
 12556,
 12557,
 12752,
 12813,
 12814,
 12815,
 12943,
 12944,
 12945,
 12946,
 12947,
 13071,
 13089,
 13090,
 13091,
 13140,
 13141,
 13142,
 13145,
 13256,
 13267,
 13398,
 13664,
 13747,
 13748,
 13876,
 13912,
 14211,
 14409,
 14446,
 14518,
 14723,
 14724,
 14772,
 14849,
 14850,
 14851,
 14864,
 14874,
 14885,
 15091,
 15255,
 15256,
 15290,
 15333,
 15334,
 15335,
 15336,
 15443,
 15542,
 15543,
 15544,
 15545,
 15546,
 15547,
 15548,
 15549,
 15550,
 15551,
 15552,
 15712,
 15731,
 15782,
 15783,
 15784,
 15785,
 15786,
 15787,
 15788,
 15789,
 15790,
 15791,
 15825,
 15845,
 15872,
 15987,
 15988,
 16026,
 16065,
 16077,
 16080,
 16081,
 16125,
 16166,
 16192,
 16193,
 16194,
 16195,
 16666,
 16667,
 16702,
 16703,
 16704,
 16705,
 16706,
 16724,
 16777,
 16778,
 16861,
 16950,
 16957,
 16961,
 16962,
 16963,
 16964,
 17172,
 17173,
 17302,
 17371,
 17423,
 17425,
 17426,
 17437,
 17512,
 17536,
 17537,
 17581,
 17895,
 17896,
 17897,
 17949,
 18309,
 18310,
 18311,
 18312,
 18334,
 18420,
 18421,
 18592,
 18593,
 18745,
 18749,
 18814,
 18830,
 18955,
 19088,
 19248,
 19360,
 19361,
 19362,
 19414,
 19453,
 19550,
 19564,
 19565,
 19644,
 19701,
 19702,
 19703,
 19786,
 19787,
 19840,
 19941,
 19984,
 19985,
 19997,
 20074,
 20106,
 20261,
 20438,
 20439,
 20497,
 20631,
 20632,
 20633,
 20809,
 20827,
 20974,
 21021,
 21039,
 21150,
 21157,
 21158,
 21159,
 21160,
 21161,
 21187,
 21237,
 21238,
 21239,
 21345,
 21346,
 21347,
 21362,
 21363,
 21385,
 21424,
 21490,
 21573,
 21603,
 21604,
 21628,
 21725,
 21839,
 21888,
 21972,
 22028,
 22104,
 22106,
 22193,
 22194,
 22218,
 22226,
 22336,
 22337,
 22356,
 22411,
 22412,
 22704,
 22781,
 22782,
 22783,
 22804,
 22805,
 22806,
 22807,
 22828,
 22866,
 22867,
 22868,
 22869,
 22870,
 22871,
 22872,
 22873,
 22977,
 23056,
 23057,
 23058,
 23059,
 23060,
 23061,
 23069,
 23070,
 23179,
 23180,
 23181,
 23182,
 23183,
 23184,
 23326,
 23350,
 23442,
 23450,
 23629,
 23648,
 23656,
 23743,
 23744,
 23757,
 23758,
 23777,
 23787,
 23788,
 23789,
 23876,
 23974,
 24258,
 24295,
 24296,
 24299,
 24300,
 24325,
 24367,
 24637,
 24705,
 24706,
 24786,
 24790,
 24806,
 24904,
 24910,
 24952,
 24953,
 24976,
 24977,
 24978,
 24979,
 24980,
 24989,
 25029,
 25232,
 25360,
 25362,
 25480,
 25481,
 25482,
 25483,
 25484,
 25485,
 25486,
 25547,
 25548,
 25581,
 25588,
 25633,
 25754,
 25755,
 25756,
 25757,
 25758,
 25890,
 25891,
 25930,
 26109,
 26198,
 26199,
 26236,
 26258,
 26395,
 26401,
 26417,
 26418,
 26483,
 26499,
 26500,
 26643,
 26687,
 26694,
 26821,
 27049,
 27087,
 27088,
 27089,
 27099,
 27109,
 27138,
 27163,
 27383,
 27527,
 27606,
 27607,
 27608,
 27609,
 27610,
 27722,
 27757,
 27885,
 27947,
 27948,
 27962,
 28046,
 28047,
 28060,
 28109,
 28110,
 28111,
 28278,
 28327,
 28516,
 28518,
 28519,
 28520,
 28525,
 28588,
 28589,
 28590,
 28591,
 28592,
 28616,
 28617,
 28637,
 28716,
 28717,
 28723,
 28724,
 28730,
 28731,
 28732,
 28762,
 28763,
 28764,
 28765,
 28832,
 28833,
 28834,
 28835,
 28836,
 28837,
 28838,
 28839,
 29040,
 29041,
 29042,
 29048,
 29208,
 29305,
 29306,
 29307,
 29360,
 29404,
 29509,
 29510,
 29511,
 29572,
 29585,
 29586,
 29644,
 29645,
 29685,
 29706,
 29735,
 29754,
 29816,
 29817,
 29818,
 29819,
 29820,
 29888,
 29889,
 29890,
 29891,
 29892,
 29893,
 30012,
 30013,
 30053,
 30054,
 30055,
 30056,
 30092,
 30093,
 30273,
 30274,
 30299,
 30311,
 30325,
 30341,
 30370,
 30456,
 30457,
 30458,
 30459,
 30497,
 30506,
 30521,
 30591,
 30592,
 30641,
 30660,
 30746,
 30763,
 30764,
 31030,
 31092,
 31100,
 31109,
 31164,
 31165,
 31219,
 31254,
 31295,
 31296,
 31403,
 31450,
 31465,
 31499,
 31542,
 31603,
 31674,
 31751,
 31831,
 31858,
 31859,
 31860,
 31916,
 32072,
 32091,
 32138,
 32219,
 32236,
 32237,
 32238,
 32239,
 32299,
 32320,
 32321,
 32429,
 32430,
 32431,
 32498,
 32499,
 32528,
 32561,
 32622,
 32623,
 32624,
 32625,
 32632,
 32633,
 32695,
 32750,
 32751,
 32770,
 32774,
 32838,
 32848,
 32869,
 32954,
 32955,
 32988,
 33154,
 33170,
 33219,
 33255,
 33372,
 33474,
 33475,
 33606,
 33607,
 33608,
 33609,
 33610,
 33611,
 33612,
 33613,
 33614,
 33615,
 33616,
 33617,
 33692,
 33693,
 33762,
 33776,
 33854,
 33907,
 33988,
 34036,
 34123,
 34127,
 34184,
 34311,
 34344,
 34356,
 34400,
 34417,
 34421,
 34567,
 34588,
 34644,
 34785,
 34786,
 34876,
 34884,
 34885,
 34991,
 35025,
 35039,
 35040,
 35080,
 35211,
 35288,
 35574,
 35686,
 35744,
 35752,
 35760,
 35810,
 35836,
 35969,
 36010,
 36045,
 36086,
 36131,
 36142,
 36150,
 36259,
 36293,
 36302,
 36316,
 36317,
 36481,
 36486,
 36496,
 36617,
 36746,
 36894,
 36999,
 37000,
 37001,
 37028,
 37038,
 37070,
 37173,
 37198,
 37435,
 37468,
 37531,
 37635,
 37653,
 37715,
 37852,
 37853,
 37858,
 37898,
 37996,
 38044,
 38053,
 38116,
 38131,
 38213,
 38288,
 38330,
 38427,
 38428,
 38457,
 38578,
 38658,
 38684,
 38691,
 38801,
 38835,
 38971,
 38972,
 38973,
 38974,
 38975,
 39043,
 39130,
 39182,
 39183,
 39187,
 39189,
 39190,
 39191,
 39225,
 39226,
 39228,
 39267,
 39268,
 39319,
 39404,
 39405,
 39542,
 39610,
 39611,
 39661,
 39689,
 39690,
 39746,
 39767,
 39768,
 39769,
 39770,
 39771,
 39970,
 40065,
 40093,
 40241,
 40244,
 40259,
 40271,
 40306,
 40440,
 40463,
 40464,
 40465,
 40466,
 40479,
 40527,
 40571,
 40593,
 40625,
 40626,
 40634,
 40635,
 40719,
 40720,
 40721,
 40722,
 40745,
 40820,
 40832,
 40880,
 40881,
 40882,
 40883,
 40884,
 40885,
 40948,
 41148,
 41179,
 41180,
 41181,
 41182,
 41285,
 41286,
 41287,
 41293,
 41294,
 41403,
 41426,
 41427,
 41455,
 41551,
 41552,
 41571,
 41581,
 41630,
 41730,
 41920,
 42053,
 42069,
 42133,
 42178,
 42203,
 42272,
 42307,
 42386,
 42427,
 42466,
 42468,
 42483]

In [20]:
ranking = []
for i in range(len(candidate_items)):
    ranking.append((compute_score(train, target, candidate_items[i]), candidate_items[i]))

ranking.sort()
ranking.reverse()
print(ranking[0:10])

[(4.248424320242064, 4232), (1.4281539043834124, 331), (1.1561443779621214, 328), (1.1002169720347155, 6091), (0.9866633366633366, 2786), (0.6568696330991413, 16950), (0.6562881562881564, 2788), (0.6324829087124169, 3063), (0.42134156692980224, 3249), (0.33354978354978354, 1504)]

In [21]:
subset.loc[subset.itemId==1046]

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
2519,2019-10-12 18:16:54 UTC,view,5100719,electronics.clocks,samsung,000729f8-7f6c-43f6-b1dd-aab45a29f5c1,1046,652
5660,2019-10-01 13:27:59 UTC,view,5100719,electronics.clocks,samsung,000fdfe4-e1f0-4a93-9c22-f04066ad895e,1046,1461
5705,2019-10-01 10:07:25 UTC,view,5100719,electronics.clocks,samsung,000ff41f-8d94-449e-86fc-25e0957da685,1046,1470
5706,2019-10-01 10:08:04 UTC,view,5100719,electronics.clocks,samsung,000ff41f-8d94-449e-86fc-25e0957da685,1046,1470
6330,2019-10-12 19:48:00 UTC,view,5100719,electronics.clocks,samsung,00118404-d57f-4480-b917-df839bc6a188,1046,1642
...,...,...,...,...,...,...,...,...
1998579,2019-10-31 03:54:14 UTC,view,5100719,electronics.clocks,samsung,1347912f-0cb1-4086-b174-d7f10f275ffa,1046,483132
1998631,2019-10-11 16:58:51 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1998632,2019-10-11 16:59:10 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1998633,2019-10-11 17:00:34 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1999649,2019-10-02 13:10:32 UTC,view,5100719,electronics.clocks,samsung,134a9a60-7386-4d9f-8709-909c663b88da,1046,483425